#grid-container {
    border: 1px solid #000;
    display: flex;
    flex-flow: row wrap; 
    width: 960px;
  }
  
  .grid-square {
    border: 1px solid #000;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
  }