#grid-container {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(16, 1fr); 
    height: 500px;
    width: 500px;
  }
  
  .grid-square {
    border: 1px solid #000;
    box-sizing: border-box;
  }